<html>
<head>
<style type="text/css" media="screen">
.floatleft
{
    float: left;
}
#accordian
{
    text-decoration: none
}
</style>
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/jquery-ui.js"></script>
<script type="text/javascript" src="/static/jquery.form.js"></script>
<script type="text/javascript" src="/static/jquery.editinplace.js"></script>
<script type="text/javascript">
function clearForm() {
    document.dump.dumptext.value="";
    document.dump.dumptext.focus();
}
function selectGanglion() {
    document.ganglion.submit();
}
$(document).ready(function() { 
    var options = { 
        target:        '#dumps',   // target element(s) to be updated with server response 
        success:       clearForm 
    };
    // bind to the form's submit event 
    $('#dump').submit(function() { 
        $(this).ajaxSubmit(options);
        return false;
    });
    $('#plain').submit(function() { 
        $(this).ajaxSubmit(options);
        return false;
    });
    $('#order').submit(function() { 
        $(this).ajaxSubmit(options);
        return false;
    });
    $('#detail').submit(function() { 
        $(this).ajaxSubmit(options);
        return false;
    });
    document.dump.dumptext.focus();
    {% if ganglion %}
    $(".editme").editInPlace({
        url: "/ganglion/change",
        params: "key={{ganglion.key}}",
        show_buttons: true    });
    {% endif %}
});
 
</script>
</head>
<body>
<h1>Cortex Dump</h1>
<div id="ganglionList">
{% if someGanglia %}
<form id="ganglion" name="ganglion" action="/ganglion" method="post">
    <select onChange="selectGanglion()" name="key">
    <option value="-">-</option>
    {% for aGanglion in ganglia %}
        <option value="{{aGanglion.key}}" {% ifequal aGanglion.key ganglion.key %} SELECTED {%endifequal%}>{{aGanglion.name}}</option>
    {% endfor %}
    </select>
</form>
{% endif %}
<form action="/ganglion/create" method="post">
    <input type="submit" value="New Ganglion"/>
</form>
<form id="plain" class="floatleft" action="/view/plain" method="post">
{% if ganglion %} 
    <input type="hidden" name="ganglion" value="{{ganglion.key}}"/>
{% endif %}
    <input type="submit" value="Plain"/>
</form>
<form id="order" class="floatleft" action="/view/order" method="post">
{% if ganglion %} 
    <input type="hidden" name="ganglion" value="{{ganglion.key}}"/>
{% endif %}
    <input type="submit" value="Order"/>
</form>
<form id="detail" action="/view/detail" method="post">
{% if ganglion %} 
    <input type="hidden" name="ganglion" value="{{ganglion.key}}"/>
{% endif %}
    <input type="submit" value="Detail"/>
</form>
</div>
{% if ganglion %} 
<h2 class="editme">{{ganglion.name}}</h2>
{% endif %}
<div id="dumps">
{% include dumpsTemplate %}
</div>
<form id="dump" name="dump" action="/dump" method="post">
    <input type="text" name="dumptext" id="dumptext" class="txt"/>
{% if ganglion %} 
    <input type="hidden" name="ganglion" value="{{ganglion.key}}"/>
{% endif %}
    <input type="submit" value="Dump"/>
</form>
</body>
</html>
