<html>
<head>
<style type="text/css" media="screen">
body 
{
}
.floatleft
{
    float: left;
}
.floatright
{
    float: right;
}
#accordian
{
    text-decoration: none
}
</style>
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/jquery-ui.js"></script>
<script type="text/javascript" src="/static/jquery.form.js"></script>
<script type="text/javascript" src="/static/jquery.editinplace.js"></script>
<script type="text/javascript">
function setFocus() {
    document.formdump.dumptext.focus();
}
function clearForm() {
    document.formdump.dumptext.value="";
    document.formdump.dumptext.focus();
}
function selectGanglion() {
    document.ganglion.submit();
}
$(document).ready(function() { 
    var options = { 
        target:        '#dumps',   // target element(s) to be updated with server response 
        success:       clearForm 
    };
    var options2 = { 
        target:        '#dumps',   // target element(s) to be updated with server response 
        success:       setFocus 
    };
    {% if showChecked %} 
    var toggle = true;
    {% else %}
    var toggle = false;
    {% endif %}
    // bind to the form's submit event 
    $('#formdump').submit(function() { 
        $(this).ajaxSubmit(options);
        return false;
    });
    $('#mark').submit(function() { 
        $(this).ajaxSubmit(options2);
        return false;
    });
    $('#order').submit(function() { 
        $(this).ajaxSubmit(options2);
        return false;
    });
    $('#edit').submit(function() { 
        $(this).ajaxSubmit(options2);
        return false;
    });
    $('#detail').submit(function() { 
        $(this).ajaxSubmit(options2);
        return false;
    });
    $('#toggleChecked').submit(function() { 
        if (toggle) {
            $(this).ajaxSubmit(options2);
            toggle = false;
            $('#toggleChecked').get(0).submit.value = "Show Checked";
            $('#toggleChecked').get(0).toggle.value = "show";
        } else {
            $(this).ajaxSubmit(options2);
            toggle = true;
            $('#toggleChecked').get(0).submit.value = "Hide Checked";
            $('#toggleChecked').get(0).toggle.value = "hide";
        }
        return false;
    });
    $('#ganglionDefault').submit(function() { 
        $(this).ajaxSubmit();
        return false;
    });
    document.formdump.dumptext.focus();
    {% if ganglion %}
    $(".editme").editInPlace({
        url: "/ganglion/change",
        params: "key={{ganglion.key}}",
        show_buttons: true    });
    {% endif %}
});
 
</script>
</head>
<body>
<div class="floatright">
{% if ganglion %} 
<a href="/ganglion/{{ganglion.key}}"> [ This Page ] </a>
{% else %}
<a href="/"> [ This Page ] </a>
{% endif %}
<a href="{{ logout }}"> [ Logout ] </a>
</div>
{% if ganglion %} 
<h2 class="editme">{{ganglion.name}}</h2>
{% else %}
<h1>Cortex Dump</h1>
{% endif %}
<div id="ganglionList" class="floatright">
<form class="floatright" action="/ganglion/create" method="post">
    <input type="submit" value="New List"/>
</form>
<form id="ganglionDefault" class="floatright" action="/ganglion/default" method="post">
    <input type="hidden" name="key" value="{{ganglion.key}}"/>
    <input type="submit" value="Default"/>
</form>
<form class="floatright" id="ganglion" name="ganglion" action="/ganglion" method="get">
    <select onChange="selectGanglion()" name="key">
    {% for aGanglion in ganglia %}
        <option value="{{aGanglion.key}}" {% ifequal aGanglion.key ganglion.key %} SELECTED {%endifequal%}>{{aGanglion.name}}</option>
    {% endfor %}
    </select>
</form>
</div>
<div id="dumpMenu">
<form id="mark" class="floatleft" action="/view/mark" method="post">
{% if ganglion %} 
    <input type="hidden" name="ganglion" value="{{ganglion.key}}"/>
{% endif %}
    <input type="submit" value="Mark"/>
</form>
<form id="order" class="floatleft" action="/view/order" method="post">
{% if ganglion %} 
    <input type="hidden" name="ganglion" value="{{ganglion.key}}"/>
{% endif %}
    <input type="submit" value="Order"/>
</form>
<form id="edit" class="floatleft" action="/view/edit" method="post">
{% if ganglion %} 
    <input type="hidden" name="ganglion" value="{{ganglion.key}}"/>
{% endif %}
    <input type="submit" value="Edit"/>
</form>
<form id="detail" class="floatleft" action="/view/detail" method="post">
{% if ganglion %} 
    <input type="hidden" name="ganglion" value="{{ganglion.key}}"/>
{% endif %}
    <input type="submit" value="Detail"/>
</form>
<form id="toggleChecked" action="/ganglion/toggleChecked" method="post">
    <input type="hidden" name="key" value="{{ganglion.key}}"/>
    {% if showChecked %} 
    <input type="submit" name="submit" value="Hide Checked"/>
    <input type="hidden" name="toggle" value="hide"/>
    {% else %}
    <input type="submit" name="submit" value="Show Checked"/>
    <input type="hidden" name="toggle" value="show"/>
    {% endif %}
</form>
</div>
<form id="formdump" name="formdump" action="/dump" method="post">
    <input type="text" name="dumptext" id="dumptext" class="txt" size="80" maxlength="500"/>
{% if ganglion %} 
    <input type="hidden" name="ganglion" value="{{ganglion.key}}"/>
{% endif %}
    <input type="submit" value="Dump"/>
</form>
<div id="dumps">
{% include dumpsTemplate %}
</div>
</body>
</html>
