<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{ganglion.name}}</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<link rel="apple-touch-icon" href="/static/iui/iui-logo-touch-icon.png" />
<meta name="apple-touch-fullscreen" content="YES" />
<style type="text/css" media="screen">@import "/static/iui/iui.css";</style>
<script type="application/x-javascript" src="/static/iui/iui.js"></script>
<!--
<script type="application/x-javascript" src="http://10.0.1.2:1840/ibug.js"></script>
-->
<script type="text/javascript">
function selectGanglion() {
    document.ganglion.submit();
}
</script>
</head>

<body onclick="console.log('Hello', event.target);">
    <div class="toolbar">
        <a id="backButton" class="button" href="#"></a>
        <form id="ganglion" name="ganglion" action="/ganglion" method="get">
        <select onChange="selectGanglion()" name="key" style="font-size: 1.0em; margin: 0 4.5em">
            {% for aGanglion in ganglia %}
                <option value="{{aGanglion.key}}" {% ifequal aGanglion.key ganglion.key %} SELECTED {%endifequal%}>{{aGanglion.name}}</option>
            {% endfor %}
        </select>
        </form>
    </div>
    
    <ul id="home" title="{{ganglion.name}}" selected="true">
        {% for dump in dumps %}
        {% if dump.html %}
        <li> <a href="#{{dump.key}}">{{dump.html}}</a> </li>
        {% else %}
        <li> <a href="#{{dump.key}}">{{dump.text}}</a> </li>
        {% endif %}
        {% endfor %}
    </ul>

    {% for dump in dumps %}
    
    <form id="{{dump.key}}" class="dialog" action="">
        <fieldset>
            <h1>Edit</h1>
            <a class="button leftButton" type="cancel">Cancel</a>
            <a class="button blueButton" type="submit">Edit</a>
            <label>Text</label>
            <input id="artist" type="text" name="artist" value="{{dump.text}}" />
            <label>Detail</label>
            <textarea rows="10">
            {% if dump.detail %}
            {{dump.detail}}
            {% endif %}
            </textarea>
        </fieldset>
    </form>
    {% endfor %}
    
</body>
</html>
